<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="sale" class="sumdu.edu.ua.springexample.Promotion">
    <property name="title" value="5% sale"></property>
</bean> 

<bean id="sweat" class="sumdu.edu.ua.springexample.Topping">
    <constructor-arg index="0" value="ice cream"></constructor-arg>
</bean> 

<bean id="ice" class="sumdu.edu.ua.springexample.Topping">
    <constructor-arg index="0" value="ice"></constructor-arg>
</bean> 


<bean id="soda" class="sumdu.edu.ua.springexample.Soda" autowire="byName">
<property name="name" value="Fanta"></property>
<property name="size" value="330"/>
<property name="prom" ref="sale"/>
<!--<property name="sweat" ref="sweat"/>-->
</bean>

</beans>